extends layout

block content

  div.container


    .row

        .col-md-4
            h4.text-success Pet Detail
        .col-md-6
            p.lookup
                a(href="/") Lookup a different pet
    hr

    if (messages.error)
        .alert.alert-danger
            span= messages.error

    if (messages.success)
        .alert.alert-success
            span= messages.success

    .row
        .col-md-4

            ul.pet-details
                each pet in data
                    li Name:
                        span #{pet.name}
                    li Type:
                        span #{pet.type}
                    li Breed:
                        span #{pet.breed}
                    li Location:
                        span #{pet.location}

    hr
    h4.text-center.weatherheader.text-success Weather Forecast
    if (is_umbrella)
        .row
            .col-md-4
                img.img-thumbnail(src="/images/pet_umbrella.jpg" alt="Pet Umbrella")
            .col-md-8
                .weather-help
                    h4.text-center Yup!
                    .alert.alert-info.text-center it's look like <strong>#{data[0].name}</strong> is going to need one in <strong>#{data[0].location}</strong>.
                    p.lookup.text-center
                        a(href="/") Lookup a different pet

    else
        .alert.alert-info.text-center <strong>#{data[0].name}</strong> does not need umbrella in <strong>#{data[0].location}</strong>.
        p.lookup.text-center
            a(href="/") Lookup a different pet
